.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #555b56;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section{
  display: flex;
  flex-direction: column;
}

.flexSongs{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  box-sizing: border-box;
}

h2{
  color: #fff;
  font-size: 2rem;
}

.songComp{
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.addIcon{
  width: 3%;
  cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
}